@media only screen and (min-width: 320px) {

body {
    background-image: url(space.jpg);
    background-size: cover;
    overflow-x: hidden;
}

header {
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    font-size: 1rem;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    max-width: 90rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#planet {
    position: absolute;
    top: 20%;
    width: 7rem;
    right: 50%;
    transform: translate(50%);
}

#rocket {
    position: absolute;
    width: 2rem;
    right: 50%;
    transform: translate(50%);
}

#ufo {
    position: absolute;
    top: 50%;
    left: -30%;
    width: 3rem;
}

}

@media only screen and (min-width: 768px){
    header {
        font-size: 2.5rem;
    }

    #planet {
        width: 14rem;
    }

    #rocket {
        width: 4rem;
    }

    #ufo {
        width: 5rem;
    }
}